.imagendetalle {
    height: 20%;
}

.centradoTarget {
    text-align: center;
}

.Btntableros {
    background-color: #fc5404 !important;
    color: white !important;
    border-radius: 25px;
    display: inline-block;
    padding: 15px 32px;
    margin: 4px 2px;
    width: 80%;
}