<div class="container">
    <h1 class="br tituloMod"><strong>Facturación Electronica</strong></h1>
    <br>
    <div class="row br justify-content-center">
        <div class="col-sm-2 text-center" (click)="ConsultaFactura()">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/buscar.png" class="imagendetalle">
            <div>
                <label class="labelcont">Consultar factura</label>
            </div>
        </div>
        <div class="col-sm-2 text-center" (click)="HabilitarEmpresa()">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/boton-actualizar.png" class="imagendetalle">
            <div>
                <label class="labelcont">Habilitar Empresa</label>
            </div>
        </div>
    </div>

    <!-- filtros busqueda factura-->
    <div class="row br" *ngIf="VerOcultarConsulta == true">
        <hr>
        <div class="row" (keyup.enter)="BuscarFactura()">
            <div class="col-sm-3">
                <input type="text" title="Nit empresa" class="form-control form-control-sm textBox"
                    placeholder="Nit empresa" [(ngModel)]="NitEmpresa">
            </div>
            <div class="col-sm-3">
                <input type="text" title="Número de factura" class="form-control form-control-sm textBox"
                    placeholder="Número de factura" [(ngModel)]="NumFactura">
            </div>
            <div class="col-sm-3">
                <input type="text" title="Regional" class="form-control form-control-sm textBox" placeholder="Regional"
                    [(ngModel)]="Regnal">
            </div>
            <div class="col-sm-3">
                <input type="text" title="Prefijo" class="form-control form-control-sm textBox" placeholder="Prefijo"
                    [(ngModel)]="Pfjo">
            </div>
        </div>
        <div class="row br justify-content-center">
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn BtnPrincipal" title="Buscar plantilla"
                    (click)="BuscarFactura()">Buscar</button>
            </div>
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn BtnCancel" title="Buscar plantilla"
                    (click)="LimpiarConsulta()">Limpiar</button>
            </div>
        </div>
    </div>

    <!-- formulario actualiza Facturacion-->
    <div class="row br" *ngIf="VerOcultarActualizar == true">
        <hr>
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-sm-9" (keyup.enter)="BuscarHabilitarEmpresa()">
                    <input type="text" title="Nit empresa" class="form-control form-control-sm textBox"
                        placeholder="Nit empresa" [(ngModel)]="NitFact">
                </div>
                <div class="col-sm-3">
                    <button class="col-sm-12 btn BtnPrincipal" title="Buscar plantilla"
                        (click)="BuscarHabilitarEmpresa()">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- formulario Actualiza Facturacion-->
    <div class="row br" *ngIf="VerOcultarFormAct == true">
        <div class="row justify-content-center" *ngFor="let RespFact of arregloListaFactura">
            <div class="row">
                <div class="col-sm-6 br">
                    <label class="col-sm-6 Llave">Nit</label>
                    <input type="text" title="Nit" class="form-control form-control-sm textBox" disabled
                        placeholder="Nit" [(ngModel)]="RespFact.Nit">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Número resolución</label>
                    <input type="text" title="Número resolución" class="form-control form-control-sm textBox"
                        placeholder="Número resolución" [(ngModel)]="RespFact.NumResolucion">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Usuario</label>
                    <input type="text" title="Usuario" class="form-control form-control-sm textBox"
                        placeholder="Usuario" [(ngModel)]="RespFact.Usuario">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Contraseña</label>
                    <input type="text" title="Contraseña" class="form-control form-control-sm textBox"
                        placeholder="Contraseña" [(ngModel)]="RespFact.Contrasena">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Prefijo</label>
                    <input type="text" title="Prefijo" class="form-control form-control-sm textBox"
                        placeholder="Prefijo" [(ngModel)]="RespFact.Prefijo">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">PrefijoNC</label>
                    <input type="text" title="PrefijoNC" class="form-control form-control-sm textBox"
                        placeholder="PrefijoNC" [(ngModel)]="RespFact.PrefijoNC">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Rango desde</label>
                    <input type="text" class="form-control form-control-sm textBox" placeholder="Rango desde"
                        [(ngModel)]="RespFact.RangoD">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Rango hasta</label>
                    <input type="text" class="form-control form-control-sm textBox" placeholder="Rango hasta"
                        [(ngModel)]="RespFact.RangoH">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Rango fecha inicio</label>
                    <input type="date" title="Rango fecha inicio" class="form-control form-control-sm textBox"
                        placeholder="Rango fecha inicio" [(ngModel)]="RespFact.RangoFecIni">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Rango fecha fin</label>
                    <input type="date" title="Rango fecha fin" class="form-control form-control-sm textBox"
                        placeholder="Rango fecha fin" [(ngModel)]="RespFact.RangoFecFin">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">RangoNCD</label>
                    <input type="text" title="RangoNCD" class="form-control form-control-sm textBox"
                        placeholder="RangoNCD" [(ngModel)]="RespFact.RangoNCD">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">RangoNCH</label>
                    <input type="text" title="RangoNCH" class="form-control form-control-sm textBox"
                        placeholder="RangoNCH" [(ngModel)]="RespFact.RangoNCH">
                </div>
            </div>
            <div class="row br justify-content-center">
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnPrincipal"
                        (click)="GuardarHabilitarEmpresa(ModalRespuesta)">Guardar</button>
                </div>
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnPrincipal" (click)="LimpiarFormularioAct()">Limpiar</button>
                </div>
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnCancel" (click)="Cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Tarjeta Factura-->
    <div class="row justify-content-center br tarjetadetalle" *ngFor="let factura of ArrayFactura">
        <div class="row m-2" *ngIf="VerOcultarCamposTarget == true">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Número factura:&nbsp;</label><label
                            class="textblue"><strong>{{factura.NumeroFactura}}</strong></label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Nit empresa:&nbsp;</label><label
                            class="Valor">{{factura.NitEmpresa}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Nit cliente:&nbsp;</label><label
                            class="Valor">{{factura.NitCliente}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Prefijo:&nbsp;</label><label class="Valor">{{factura.Prefijo}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Nombre cliente:&nbsp;</label><label
                            class="Valor">{{factura.NombreCliente}}</label>
                    </div>

                    <div class="col-sm-4">
                        <label class="Llave">Correo cliente:&nbsp;</label><label
                            class="Valor">{{factura.MailCliente}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Fecha:&nbsp;</label><label class="Valor">{{factura.Fecha}}</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="Llave">Observaciones:&nbsp;</label><label
                            class="Valor">{{factura.Observaciones}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="br col-sm-12 text-center">
                        <label class="textblue col-sm-12"><strong>{{factura.Error}}</strong></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row br text-center" *ngIf="verOcultarLabel == true">
        <h2 class="textblue"><strong>¡ Sin resultados !</strong></h2>
        <h2 class="textblue"><strong>Revisa los datos de busqueda</strong></h2>
    </div>
</div>

<!-- Template Modal RESPUESTA-->
<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <img class="logoContabilidadOnl" src="../../../../assets/ImagenesSoporteTecntOnline/contabilidad.png">
        <h1>Respuesta</h1>
        <button (keyup.enter)="modal.close()" type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <button (keyup.enter)="modal.close()" type="button" class="col-sm-3 btn BtnPrincipal"
                (click)="modal.close()">Aceptar</button>
        </div>
    </div>
    <br>
</ng-template>