<div class="row justify-content-center">

    <div class="container">
        <div class="img">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/LogoCO.png">
        </div>
        <div class="login-content">
            <form action="index.html">
                <img src="../../../../assets/ImagenesSoporteTecntOnline/usuario.png">
                <h3 class="TituloDetalle">Iniciar Sesion</h3>
                <br>

                <form (keyup.enter)="login(ModalRespuesta)" appearance="fill">
                    <div class="input-div one">
                        <div class="i">
                            <i class="fa fa-user-circle-o"></i>
                        </div>
                        <div class="div">
                            <input type="text" class="input" name="Usuario" placeholder="Usuario" required="required">
                        </div>
                    </div>


                    <div class="input-div">
                        <div class="i">
                            <i class="{{imagen}}" type="button" id="pass" (click)="ocultarPass()"></i>
                            <!-- <i class="fa fa-eye-slash"></i> -->
                        </div>
                        <div class="div">
                            <input type="password" required="required" class="input" name="Password" id="Password"
                                placeholder="Contraseña/Password">
                        </div>
                    </div>
                </form>

                <button value="Ingresar" class="btn BtnPrincipal mt-4 mb-3" (click)="login(ModalRespuesta)">
                    Ingresar</button>


            </form>
        </div>
    </div>

</div>

<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <h1>Respuesta</h1>
        <button (keyup.enter)="modal.close()" type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">XXXXX</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button (keyup.enter)="modal.close()" type="button" class="btn BtnPrincipal col-sm-2 col-6"
            (click)="modal.close()">Aceptar</button>
    </div>
    <br>
</ng-template>