<div class="container">
    <h1 class="br tituloMod"><strong>Contabilidad Online</strong></h1>
    <br>
    <div class="row br justify-content-center">
        <div class="col-sm-2 text-center" (click)="ConsultaEmpresa()">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/buscar.png" class="imagendetalle">
            <div>
                <label class="labelcont">Consultar empresa</label>
            </div>
        </div>
        <div class="col-sm-2 text-center" (click)="CrearEmpresa()">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/mas.png" class="imagendetalle">
            <div>
                <label class="labelcont">Agregar empresa</label>
            </div>
        </div>
        <div class="col-sm-2 text-center" (click)="ActualizaEmpresa()">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/boton-actualizar.png" class="imagendetalle">
            <div>
                <label class="labelcont">Actualizar empresa</label>
            </div>
        </div>
    </div>

    <!-- filtros busqueda empresas-->
    <div class="row br" *ngIf="VerOcultarCamposCons == true">
        <hr>
        <h6 class="tituloMod"><strong>Consultar empresa</strong></h6>
        <div class="row" (keyup.enter)="VerConsultaEmp()">
            <div class="col-sm-4">
                <input type="text" title="Nombre empresa" class="form-control form-control-sm textBox"
                    placeholder="Nombre empresa" [(ngModel)]="NombreEmpresa">
            </div>
            <div class="col-sm-4">
                <input type="text" title="Nit empresa" class="form-control form-control-sm textBox"
                    placeholder="Nit empresa" [(ngModel)]="Nit">
            </div>
            <div class="col-sm-4">
                <input type="text" title="Regional" class="form-control form-control-sm textBox" placeholder="Regional"
                    [(ngModel)]="Regional">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn BtnPrincipal" title="Buscar plantilla"
                    (click)="VerConsultaEmp()">Buscar</button>
            </div>
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn BtnCancel" title="Buscar plantilla" (click)="limpiar()">Limpiar</button>
            </div>
        </div>
    </div>

    <!-- formulario inserta Empresas-->
    <div class="row br justify-content-center" *ngIf="VerOcultarCamposInsert == true">
        <hr>
        <h6 class="tituloMod"><strong>Agregar empresa</strong></h6>
        <div class="row">
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Regional</label>
                <input type="text" title="Regional" class="form-control form-control-sm textBox" placeholder="Regional"
                    [(ngModel)]="Regional">
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Nombre empresa</label>
                <input type="text" title="Nombre empresa" class="form-control form-control-sm textBox"
                    placeholder="Nombre empresa" [(ngModel)]="NombreEmpresa">
            </div>

            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Nit</label>
                <input type="text" title="Nit" class="form-control form-control-sm textBox" placeholder="Nit"
                    [(ngModel)]="NitInsert">
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Pais</label>
                <select class="form-control form-control-sm textBox" title="Seleccionar pais" [(ngModel)]="Pais"
                    #selectPais (change)="SelectListaPais(selectPais.value)">
                    <option value="0" selected>Seleccione pais...</option>
                    <option value="{{Respu.CodPais}}|{{Respu.NombrePais}}" *ngFor="let Respu of ArrayPais">
                        {{Respu.NombrePais}}</option>
                </select>
            </div>


            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Departamento</label>
                <select class="form-control form-control-sm textBox" title="Seleccionar departamento"
                    #selectDepartamento [(ngModel)]="Departamento" (change)="SelectListaDep(selectDepartamento.value)">
                    <option value="0" selected>Seleccione departamento...</option>
                    <option value="{{Respu.CodigoDepartamento}}|{{Respu.Nombre}}"
                        *ngFor="let Respu of ArrayDepartamento">
                        {{Respu.Nombre}}</option>
                </select>
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Ciudad</label>
                <select class="form-control form-control-sm textBox" title="Seleccionar ciudad" #selectciudad
                    [(ngModel)]="Ciudad" (change)="SelectListaciudad(selectciudad.value)">
                    <option value="0" selected>Seleccione ciudad...</option>
                    <option value="{{Respu.Codigo}}|{{Respu.Nombre}}" *ngFor="let Respu of ArrayCiudad">
                        {{Respu.Nombre}}</option>
                </select>
            </div>

            <div class="col-sm-12 br">
                <label class="col-sm-12 Llave">Dirección</label>
                <textarea class="form-control form-control-sm textArea" rows="3" maxlength="500" minlength="3"
                    placeholder="Dirección" title="Direccion" [(ngModel)]="Direccion"></textarea>
            </div>

            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Correo</label>
                <input type="text" title="Correo" class="form-control form-control-sm textBox" placeholder="Correo"
                    [(ngModel)]="Correo">
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Teléfono</label>
                <input type="number" title="Telefono" class="form-control form-control-sm textBox" placeholder="Teléfono"
                    [(ngModel)]="Telefono">
            </div>

            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Tipo persona</label>
                <select class="form-control form-control-sm textBox" title="Seleccionar tipo persona"
                    [(ngModel)]="TpoPersona">
                    <option value="0" selected>Seleccione el tipo persona...</option>
                    <option value="1"> Juridica </option>
                    <option value="2"> Natural </option>
                </select>
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Régimen</label>
                <input type="text" title="Régimen" class="form-control form-control-sm textBox" placeholder="Régimen"
                    [(ngModel)]="Regimen">
            </div>

            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Número matricula mercantil</label>
                <input type="number" title="NumMatMercantil" class="form-control form-control-sm textBox"
                    placeholder="Número matricula mercantil" [(ngModel)]="NumMatMercantil">
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">ValCas53</label>
                <input type="text" title="ValCas53" class="form-control form-control-sm textBox" placeholder="ValCas53"
                    [(ngModel)]="ValCas53">
            </div>

            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">ValCas54</label>
                <input type="text" title="ValCas54" class="form-control form-control-sm textBox" placeholder="ValCas54"
                    [(ngModel)]="ValCas54">
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Nit Código verificación</label>
                <input type="text" title="NitCodVer" class="form-control form-control-sm textBox"
                    placeholder="Nit Código verificación" [(ngModel)]="NitCodVer">
            </div>

            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Código postal</label>
                <input type="text" title="CodPostal" class="form-control form-control-sm textBox"
                    placeholder="Código postal" [(ngModel)]="CodPostal">
            </div>
            <div class="col-sm-6 br">
                <label class="col-sm-12 Llave">Actividad económica</label>
                <input type="text" title="ActEco" class="form-control form-control-sm textBox"
                    placeholder="Actividad económica" [(ngModel)]="ActEco">
            </div>
        </div>
        <br>
        <div class="row br justify-content-center">
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn BtnPrincipal" (click)="InsertarEmpresa(ModalRespuesta)">Guardar</button>
            </div>
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn BtnPrincipal" (click)="LimpiarInsert()">Limpiar</button>
            </div>
            <div class="col-sm-3 col-12">
                <button class="col-sm-12 btn BtnCancel" (click)="Cancelar()">Cancelar</button>
            </div>
        </div>
    </div>

    <!-- formulario actualiza Empresas-->
    <div class="row br" *ngIf="VerOcultarCamposAct == true">
        <hr>
        <h6 class="tituloMod"><strong>Actualizar empresa</strong></h6>
        <div class="row justify-content-center">
            <div class="col-sm-9 br" (keyup.enter)="BuscarEmpNit()">
                <input type="text" title="Nit empresa" class="form-control form-control-sm textBox"
                    placeholder="Nit empresa" [(ngModel)]="NitAct">
            </div>
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn BtnPrincipal" title="Buscar plantilla"
                    (click)="BuscarEmpNit()">Buscar</button>
            </div>
        </div>
    </div>


    <!-- formulario Actualiza Empresas-->
    <div class="row br justify-content-center" *ngIf="VerOcultarFormAct == true">
        <div class="row" *ngFor="let RespEmp of arregloListaEmpresas">
            <div class="row">
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Regional</label>
                    <input type="text" title="Regional" class="form-control form-control-sm textBox" disabled
                        placeholder="Regional" [(ngModel)]="RespEmp.IdCol">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Nombre empresa</label>
                    <input type="text" title="Nombre empresa" class="form-control form-control-sm textBox"
                        placeholder="Nombre empresa" [(ngModel)]="RespEmp.Nombre">
                </div>

                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Nit</label>
                    <input type="text" title="Nit" class="form-control form-control-sm textBox" placeholder="Nit"
                        disabled [(ngModel)]="RespEmp.Nit">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Pais</label>
                    <select class="form-control form-control-sm textBox" title="Seleccionar pais"
                        [(ngModel)]="RespEmp.CodPais" #selectPais (change)="SelectListaPaisAct(selectPais.value)">
                        <option value="0" selected>Seleccione pais...</option>
                        <option value="{{Respu.CodPais}}" *ngFor="let Respu of ArrayPais">
                            {{Respu.NombrePais}}</option>
                    </select>
                </div>

                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Departamento</label>
                    <select class="form-control form-control-sm textBox" title="Seleccionar departamento"
                        #selectDepartamento [(ngModel)]="RespEmp.CodDepto"
                        (change)="SelectListaDepAct(selectDepartamento.value)">
                        <option value="0" selected>Seleccione departamento...</option>
                        <option value="{{Respu.CodigoDepartamento}}" *ngFor="let Respu of ArrayDepartamento">
                            {{Respu.Nombre}}</option>
                    </select>
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Ciudad</label>
                    <select class="form-control form-control-sm textBox" title="Seleccionar ciudad" #selectciudad
                        [(ngModel)]="RespEmp.CodMuni" (change)="SelectListaciudadAct(selectciudad.value)">
                        <option value="0" selected>Seleccione ciudad...</option>
                        <option value="{{Respu.Codigo}}" *ngFor="let Respu of ArrayCiudad">
                            {{Respu.Nombre}}</option>
                    </select>
                </div>

                <div class="col-sm-12 br">
                    <label class="col-sm-12 Llave">Dirección</label>
                    <textarea class="form-control form-control-sm textArea" rows="3" maxlength="500" minlength="3"
                        placeholder="Dirección" title="Direccion" [(ngModel)]="RespEmp.Direccion"></textarea>
                </div>

                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Correo</label>
                    <input type="text" title="Correo" class="form-control form-control-sm textBox" placeholder="Correo"
                        [(ngModel)]="RespEmp.Email">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Teléfono</label>
                    <input type="number" title="Telefono" class="form-control form-control-sm textBox"
                        placeholder="Teléfono" [(ngModel)]="RespEmp.Telefono">
                </div>

                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Tipo persona</label>
                    <select class="form-control form-control-sm textBox" title="Seleccionar tipo persona"
                        [(ngModel)]="RespEmp.TipoPersona">
                        <option value="0" selected>Seleccione el tipo persona...</option>
                        <option value="1"> Juridica </option>
                        <option value="2"> Natural </option>
                    </select>
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Régimen</label>
                    <input type="text" title="Régimen" class="form-control form-control-sm textBox"
                        placeholder="Régimen" [(ngModel)]="RespEmp.Regimen">
                </div>

                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Número matricula mercantil</label>
                    <input type="number" title="NumMatMercantil" class="form-control form-control-sm textBox"
                        placeholder="Número matricula mercantil" [(ngModel)]="RespEmp.NumMatMercantil">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">ValCas53</label>
                    <input type="text" title="ValCas53" class="form-control form-control-sm textBox"
                        placeholder="ValCas53" [(ngModel)]="RespEmp.ValCas53">
                </div>

                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">ValCas54</label>
                    <input type="text" title="ValCas54" class="form-control form-control-sm textBox"
                        placeholder="ValCas54" [(ngModel)]="RespEmp.ValCas54">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Nit Código verificación</label>
                    <input type="text" title="NitCodVer" class="form-control form-control-sm textBox"
                        placeholder="Nit Código verificación" [(ngModel)]="RespEmp.NitCodVer">
                </div>

                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Código postal</label>
                    <input type="text" title="CodPostal" class="form-control form-control-sm textBox"
                        placeholder="Código postal" [(ngModel)]="RespEmp.CodPostal">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Actividad económica</label>
                    <input type="text" title="ActEco" class="form-control form-control-sm textBox"
                        placeholder="Actividad económica" [(ngModel)]="RespEmp.ActEco">
                </div>
            </div>
            <br>
            <div class="row br justify-content-center">
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnPrincipal" (click)="BuscActEmpresa(ModalRespuesta)">Guardar</button>
                </div>
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnPrincipal" (click)="LimpiarCampos()">Limpiar</button>
                </div>
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnCancel" (click)="Cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
        <br>

    </div>


    <!-- Tarjeta Empresas-->
    <div class="row justify-content-center br tarjetadetalle"
        *ngFor="let empresa of ArrayEmpresa | paginate: {itemsPerPage: 3, currentPage: page}">
        <div class="row m-2" *ngIf="VerOcultarCamposTarget == true">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="Llave">Nombre empresa:&nbsp;</label><label
                            class="textblue"><strong>{{empresa.Nombre}}</strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Nit:&nbsp;</label><label
                            class="textblue"><strong>{{empresa.Nit}}</strong></label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Departamento:&nbsp;</label><label
                            class="Valor">{{empresa.Departamento}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Ciudad:&nbsp;</label><label class="Valor">{{empresa.Ciudad}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Dirección:&nbsp;</label><label class="Valor">{{empresa.Direccion}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Correo:&nbsp;</label><label class="Valor">{{empresa.Email}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Teléfono:&nbsp;</label><label class="Valor">{{empresa.Telefono}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Número resolución:&nbsp;</label><label
                            class="Valor">{{empresa.NumResolucion}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Prefijo:&nbsp;</label><label class="Valor">{{empresa.Prefijo}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Rango desde:&nbsp;</label><label class="Valor">{{empresa.RangoD}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Rango hasta:&nbsp;</label><label class="Valor">{{empresa.RangoH}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Rango fecha inicio:&nbsp;</label><label
                            class="Valor">{{empresa.RangoFecIni}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Rango fecha fin:&nbsp;</label><label
                            class="Valor">{{empresa.RangoFecFin}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Tipo persona:&nbsp;</label><label *ngIf="empresa.TipoPersona == '1'"
                            class="Valor">Juridica</label>
                        <label *ngIf="empresa.TipoPersona == '2'" class="Valor">Natural</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Régimen:&nbsp;</label><label class="Valor">{{empresa.Regimen}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Código pais:&nbsp;</label><label class="Valor">{{empresa.CodPais}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Código departamento:&nbsp;</label><label
                            class="Valor">{{empresa.CodDepto}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Número matricula mercantil:&nbsp;</label><label
                            class="Valor">{{empresa.NumMatMercantil}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">ValCas53:&nbsp;</label><label class="Valor">{{empresa.ValCas53}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">ValCas54:&nbsp;</label><label class="Valor">{{empresa.ValCas54}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Prefijo nota crédito:&nbsp;</label><label
                            class="Valor">{{empresa.PrefijoNC}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Rango nota crédito desde:&nbsp;</label><label
                            class="Valor">{{empresa.RangoNCD}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Rango nota crédito hasta:&nbsp;</label><label
                            class="Valor">{{empresa.RangoNCH}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Nit código verificación:&nbsp;</label><label
                            class="Valor">{{empresa.NitCodVer}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Código municipio:&nbsp;</label><label
                            class="Valor">{{empresa.CodMuni}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Pais:&nbsp;</label><label class="Valor">{{empresa.NomPais}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Código postal:&nbsp;</label><label
                            class="Valor">{{empresa.CodPostal}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Actividad económica:&nbsp;</label><label
                            class="Valor">{{empresa.ActEco}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">PrefijoNE:&nbsp;</label><label class="Valor">{{empresa.PrefijoNE}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Rango NE desde:&nbsp;</label><label
                            class="Valor">{{empresa.RangoNED}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Rango NE hasta:&nbsp;</label><label
                            class="Valor">{{empresa.RangoNEH}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Contraseña NE:&nbsp;</label><label
                            class="Valor">{{empresa.ContrasenaNE}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Prefijo NA:&nbsp;</label><label class="Valor">{{empresa.PrefijoNA}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Número resolución DS:&nbsp;</label><label
                            class="Valor">{{empresa.NumResolucionDS}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Prefijo DS:&nbsp;</label><label class="Valor">{{empresa.PrefijoDS}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Rango DS desde:&nbsp;</label><label
                            class="Valor">{{empresa.RangoDS_D}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Rango DS hasta:&nbsp;</label><label
                            class="Valor">{{empresa.RangoDS_H}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Fecha inicio DS:&nbsp;</label><label
                            class="Valor">{{empresa.FechaInicioDS}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Fecha fin DS:&nbsp;</label><label
                            class="Valor">{{empresa.FechaInicioDS}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Usuario facturatech:&nbsp;</label><label
                            class="Valor">{{empresa.Usuario}}</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="Llave">Contraseña facturatech:&nbsp;</label> <label
                            class="Valor">{{empresa.Contrasena}}</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>

    <div class="row text-center" *ngIf="verOcultarPge == true">
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
            nextLabel="Siguiente"></pagination-controls>
    </div>

    <div class="row br text-center" *ngIf="verOcultarLabelC == true">
        <h2 class="textblue"><strong>¡ Sin resultados !</strong></h2>
        <h2 class="textblue"><strong>Revisa los datos de busqueda</strong></h2>
    </div>
</div>

<!-- Template Modal RESPUESTA-->
<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <img class="logoContabilidadOnl" src="../../../../assets/ImagenesSoporteTecntOnline/contabilidad.png">
        <h1>Respuesta</h1>
        <button (keyup.enter)="modal.close()" type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <button (keyup.enter)="modal.close()" type="button" class="col-sm-3 btn BtnPrincipal"
                (click)="modal.close()">Aceptar</button>
        </div>
    </div>
    <br>
</ng-template>