<div class="container">
    <h1 class="br tituloMod"><strong>Documento Soporte</strong></h1>
    <br>
    <div class="row br justify-content-center">
        <div class="col-sm-2 text-center" (click)="GenXml()">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/xml.png" class="imagendetalle">
            <div>
                <label class="labelcont">Generar xml</label>
            </div>
        </div>
        <div class="col-sm-2 text-center" (click)="HabilitarDoc()">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/boton-actualizar.png" class="imagendetalle">
            <div>
                <label class="labelcont">Habilitar empresa documento</label>
            </div>
        </div>
    </div>

    <!-- filtros generacion XML factura-->
    <div class="row br" *ngIf="verOcultarXML == true">
        <hr>
        <h6 class="tituloMod"><strong>Generar xml</strong></h6>
        <div class="row" (keyup.enter)="BuscarXML(ModalRespuesta)">
            <div class="col-sm-4">
                <input type="text" title="Regional" class="form-control form-control-sm textBox" placeholder="Regional"
                    [(ngModel)]="Reg">
            </div>
            <div class="col-sm-4">
                <input type="text" title="Folio" class="form-control form-control-sm textBox" placeholder="Folio"
                    [(ngModel)]="folio">
            </div>
            <div class="col-sm-4">
                <input type="text" title="Prefijo" class="form-control form-control-sm textBox" placeholder="Prefijo"
                    [(ngModel)]="Prefjo">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn BtnPrincipal" title="Buscar plantilla"
                    (click)="BuscarXML(ModalRespuesta)">Buscar</button>
            </div>
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn BtnCancel" title="Buscar plantilla" (click)="LimpiarXml()">Limpiar</button>
            </div>
        </div>

    </div>


    <!-- formulario actualiza Facturacion-->
    <div class="row br" *ngIf="VerOcultarActualizar == true">
        <hr>
        <h6 class="tituloMod"><strong>Habilitar empresa documento</strong></h6>
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-sm-9" (keyup.enter)="BuscarHabNomina()">
                    <input type="text" title="Nit empresa" class="form-control form-control-sm textBox"
                        placeholder="Nit empresa" [(ngModel)]="NitDoc">
                </div>
                <div class="col-sm-3">
                    <button class="col-sm-12 btn BtnPrincipal" (click)="BuscarHabNomina()">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- formulario Actualiza Facturacion-->
    <div class="row br" *ngIf="VerOcultarFormAct == true">
        <div class="row justify-content-center" *ngFor="let RespDocu of arregloListaDoc">
            <div class="row">

                <div class="col-sm-6 br">
                    <label class="col-sm-6 Llave">Nit</label>
                    <input type="text" title="Nit" class="form-control form-control-sm textBox" disabled
                        placeholder="Nit" [(ngModel)]="RespDocu.Nit">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Número resolución documento soporte</label>
                    <input type="text" title="Número resolución documento soporte"
                        class="form-control form-control-sm textBox" placeholder="Número resolución documento soporte"
                        [(ngModel)]="RespDocu.NumResolucionDS">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Rango desde</label>
                    <input type="number" title="Rango desde" class="form-control form-control-sm textBox"
                        placeholder="Rango desde" [(ngModel)]="RespDocu.RangoDS_D">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Rango hasta</label>
                    <input type="number" title="Rango hasta" class="form-control form-control-sm textBox"
                        placeholder="Rango hasta" [(ngModel)]="RespDocu.RangoDS_H">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Rango fecha inicio</label>
                    <input type="date" class="form-control form-control-sm textBox" placeholder="Rango fecha inicio"
                        [(ngModel)]="RespDocu.FechaInicioDS">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Rango fecha fin</label>
                    <input type="date" class="form-control form-control-sm textBox" placeholder="Rango fecha fin"
                        [(ngModel)]="RespDocu.FechaFinDS">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Prefijo</label>
                    <input type="text" title="Prefijo" class="form-control form-control-sm textBox"
                        placeholder="Prefijo" [(ngModel)]="RespDocu.PrefijoDS">
                </div>
            </div>

            <div class="row br justify-content-center">
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnPrincipal"
                        (click)="ActualizarDocumento(ModalRespuesta)">Guardar</button>
                </div>
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnPrincipal" (click)="LimpiarActDoc()">Limpiar</button>
                </div>
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnCancel" (click)="Cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center br tarjetadetalle" *ngIf="VerOcultarTargetXML == true">
        <div class="col-sm-12 br">
            <label class="col-sm-12 Llave">Resultado:</label>
            <textarea name="xml" #textAreaxml class="form-control form-control-sm textArea"
             cols="30" rows="15"
                [(ngModel)]="Xml" ></textarea>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 text-center">
                <button type="button" class="col-sm-2 btn BtnPrincipal mt-2 mb-2"
                    (click)="copiarXml(textAreaxml)">Copiar</button>
            </div>
        </div>
    </div>
    <div class="row br text-center" *ngIf="verOcultarLabel == true">
        <h2 class="textblue"><strong>¡ Sin resultados !</strong></h2>
        <h2 class="textblue"><strong>Revisa los datos de busqueda</strong></h2>
    </div>
</div>

<!-- Template Modal RESPUESTA-->
<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <img class="logoContabilidadOnl" src="../../../../assets/ImagenesSoporteTecntOnline/contabilidad.png">
        <h1>Respuesta</h1>
        <button (keyup.enter)="modal.close()" type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <button (keyup.enter)="modal.close()" type="button" class="col-sm-3 btn BtnPrincipal"
                (click)="modal.close()">Aceptar</button>
        </div>
    </div>
    <br>
</ng-template>