h1 {
    text-align: center;
    color: #fc5404;
    font-size: x-large;
}

.textblue {
    color: #fc5404;
}

h2 {
    text-align: center;
    color: #96989B;
    font-size: large;
}

.BtnPrincipal {
    background-color: #fc5404 !important;
    border-color: #fc5404 !important;
    color: white !important;
}


.BtnCancel {
    background-color: #575A5F !important;
    border-color: #575A5F !important;
    color: white !important;
}

.logoContabilidadOnl {
    width: 32px;
    height: 32px;
}

.TituloDetalle {
    color: #96989B;
}

.cursorPointer {
    cursor: pointer;
}

.imgModal {
    width: 25px;
}

.br {
    margin-top: 20px;
}
.Llave {
    color: #181D23;
    font-weight: 600;
}
.textBox {
    border-top: solid 0.5px #f3f3f3;
    border-radius: 1px;
    height: 40px;
    box-shadow: 0px 1px #adadad;
    font-size: small;
}
.Valor {
    color: #575A5F;
}
.tarjetadetalle {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
}
.textArea {
    border-top: solid 0.5px #f3f3f3;
    border-radius: 1px;
    box-shadow: 0px 1px #adadad;
}
.labelcont{
    font-size: 13px;
    font-weight: bold;
}
.tituloMod{
    text-align: center;
    color: #fc5404;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagendetalle {
    display: block;
    margin: auto;
   cursor: pointer;
}
.centradoTarget {
    text-align: center;
}
.sinMp{
    margin: 0;
    padding: 0;
}