<div class="container">
    <h1 class="br tituloMod"><strong>Nomina Electronica</strong></h1>
    <br>
    <div class="row br justify-content-center">
        <div class="col-sm-2 text-center" (click)="ConsultaXmlNom()">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/xml.png" class="imagendetalle">
            <div>
                <label class="labelcont">Consultar xml nomina</label>
            </div>
        </div>
        <div class="col-sm-2 text-center" (click)="HabilitarNomina()">
            <img src="../../../../assets/ImagenesSoporteTecntOnline/boton-actualizar.png" class="imagendetalle">
            <div>
                <label class="labelcont">Actualizar Nomina</label>
            </div>
        </div>
    </div>
  
    <div class="row br" *ngIf="VerOcultarConsulta == true">
        <hr>
        <h6 class="tituloMod"><strong>Consulta xml nomina</strong></h6>
        <div class="row">
            <div class="col-sm-4">
                <input type="text" title="Regional" class="form-control form-control-sm textBox" placeholder="Regional"
                    [(ngModel)]="Reg">
            </div>
            <div class="col-sm-4">
                <input type="date" title="Fecha inicio" class="form-control form-control-sm textBox"
                    placeholder="Fecha inicio" [(ngModel)]="fechaIni">
            </div>
            <div class="col-sm-4">
                <input type="date" title="Fecha fin" class="form-control form-control-sm textBox" placeholder="Fecha fin"
                    [(ngModel)]="fechaFin">
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn BtnPrincipal" title="Buscar plantilla"
                   (click)="BuscarXml()">Buscar</button>
            </div>
            <div class="col-sm-3 col-12 br">
                <button class="col-sm-12 btn BtnCancel" title="Buscar plantilla"
                    (click)="LimpiarXml()">Limpiar</button>
            </div>
        </div>
    </div>

    <!-- formulario actualiza Facturacion-->
    <div class="row br" *ngIf="VerOcultarActualizar == true">
        <hr>
        <h6 class="tituloMod"><strong>Actualizar Nomina</strong></h6>
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-sm-9" (keyup.enter)="BuscarHabNomina()">
                    <input type="text" title="Nit empresa" class="form-control form-control-sm textBox"
                        placeholder="Nit empresa" [(ngModel)]="NitNom">
                </div>
                <div class="col-sm-3">
                    <button class="col-sm-12 btn BtnPrincipal" (click)="BuscarHabNomina()">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- formulario Actualiza Facturacion-->
    <div class="row br" *ngIf="VerOcultarFormAct == true">
        <div class="row justify-content-center" *ngFor="let RespNomina of arregloNomina">
            <div class="row">
                <div class="col-sm-6 br">
                    <label class="col-sm-6 Llave">Nit</label>
                    <input type="text" title="Nit" class="form-control form-control-sm textBox" disabled
                        placeholder="Nit" [(ngModel)]="RespNomina.Nit">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">Contraseña NE</label>
                    <input type="text" title="Contraseña" class="form-control form-control-sm textBox"
                        placeholder="Contraseña" [(ngModel)]="RespNomina.ContrasenaNE">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">PrefijoNE</label>
                    <input type="text" title="PrefijoNE" class="form-control form-control-sm textBox"
                        placeholder="PrefijoNE" [(ngModel)]="RespNomina.PrefijoNE">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">PrefijoNA</label>
                    <input type="text" title="PrefijoNA" class="form-control form-control-sm textBox"
                        placeholder="PrefijoNA" [(ngModel)]="RespNomina.PrefijoNA">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">RangoNED</label>
                    <input type="text" title="RangoNED" class="form-control form-control-sm textBox"
                        placeholder="RangoNED" [(ngModel)]="RespNomina.RangoNED">
                </div>
                <div class="col-sm-6 br">
                    <label class="col-sm-12 Llave">RangoNEH</label>
                    <input type="text" title="RangoNEH" class="form-control form-control-sm textBox"
                        placeholder="RangoNEH" [(ngModel)]="RespNomina.RangoNEH">
                </div>
            </div>

            <div class="row br justify-content-center">
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnPrincipal"
                        (click)="ActualizarNomina(ModalRespuesta)">Guardar</button>
                </div>
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnPrincipal" (click)="LimpiarActNom()">Limpiar</button>
                </div>
                <div class="col-sm-3 col-12">
                    <button class="col-sm-12 btn BtnCancel" (click)="Cancelar()">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
    <br>
    <!-- Tarjeta Factura
    <div class="row justify-content-center br tarjetadetalle">
        <div class="row m-2" *ngIf="VerOcultarCamposTarget == true">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Número factura:&nbsp;</label><label
                            class="textblue"><strong>xxx</strong></label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Nit empresa:&nbsp;</label><label class="Valor">xxx</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Nit cliente:&nbsp;</label><label class="Valor">xxx</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Prefijo:&nbsp;</label><label class="Valor">xxx</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="Llave">Nombre cliente:&nbsp;</label><label class="Valor">xxx</label>
                    </div>

                    <div class="col-sm-4">
                        <label class="Llave">Correo cliente:&nbsp;</label><label class="Valor">xxx</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="Llave">Fecha:&nbsp;</label><label class="Valor">xxx</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="Llave">Observaciones:&nbsp;</label><label class="Valor">xxx</label>
                    </div>
                </div>
                <div class="row">
                    <div class="br col-sm-12 text-center">
                        <label class="textblue col-sm-12"><strong>xxx</strong></label>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
-->
    <div class="row br text-center" *ngIf="verOcultarLabel == true">
        <h2 class="textblue"><strong>¡ Sin resultados !</strong></h2>
        <h2 class="textblue"><strong>Revisa los datos de busqueda</strong></h2>
    </div>
</div>

<!-- Template Modal RESPUESTA-->
<ng-template #ModalRespuesta let-modal>
    <div class="modal-header">
        <img class="logoContabilidadOnl" src="../../../../assets/ImagenesSoporteTecntOnline/contabilidad.png">
        <h1>Respuesta</h1>
        <button (keyup.enter)="modal.close()" type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row br">
            <div class="col-sm-12">
                <h2 class="TituloDetalle">{{Respuesta}}</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <button (keyup.enter)="modal.close()" type="button" class="col-sm-3 btn BtnPrincipal"
                (click)="modal.close()">Aceptar</button>
        </div>
    </div>
    <br>
</ng-template>